div.navbar.navbar-default.navbar-static-top
  div.container
      div.navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href=locals.url)
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li: a(href='http://sugarcrm.com/products/') Products
          li: a(href='http://sugarcrm.com/solutions') Solutions
          li: a(href='http://sugarcrm.com/customers') Customers
          li: a(href='http://sugarcrm.com/partners') Partners
          li.active: a(href='http://support.sugarcrm.com') Support
          li: a(href='http://sugarcrm.com/blogs') Blogs
          li: a(href='http://sugarcrm.com/company-overview') About
          li: a(href='http://sugarcrm.com/contact-us') Contact