head
  block head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title
      block title
        = locals.name
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fast.fonts.com/cssapi/421f8c8c-b10e-4fa0-844a-f3f248cdf586.css')
    link(rel='stylesheet', href='/assets/css/theme.css')