div.sugar-search
  form#cse-search-box(action="http://www.sugarcrm.com/search", method="get")
    input(type="hidden", name="cx", value="009245469817848559060:r2g9otu_04y")
    input(type="hidden", name="cof", value="FORID:10")
    input(type="hidden", name="ie", value="UTF-8")
    input.text(name="Q", type="text", value="", resetval="Search")
    input.btn.button(type="submit", value="")