div.main-categories

    div.col-md-3.col-md-offset-2.category.getstarted
        h3 Getting Started
        ul
            li: a(href="//support.sugarcrm.com/01_Get_Started/01_End_Users") End Users
            li: a(href="//support.sugarcrm.com/01_Get_Started/02_Administrators") Administrators
            li: a(href="//support.sugarcrm.com/01_Get_Started/03_Developers") Developers
            li: a(href="#") Videos
            li: a(href="//support.sugarcrm.com/03_Training/") Training

    div.col-md-3.category.another
        h3 Another Category
        ul
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject

    div.col-md-3.category.recenttopics
        h3 Recent Topics
        ul
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject
            li: a(href="#") Link to article or subject