!!! 5
block vars
  - var bodyclass = null;
html(lang='en')
  include partials/head

  body(class=bodyclass)
    include partials/header

    block breadcrumbs

    div.container
      div.row
        div.col-md-12
          block page_title
          block content
    
    include partials/footer